**4.6. Combining and Exporting Data**

Content:
- #01 Importing libraries
- #02 Exercise task

#01.Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

#02.Exercise Task

In [2]:
#set path
path = r'C:\Users\EliteMini HX90\OneDrive\Documents\CareerFoundry\Instacart Project Analysis'

In [3]:
#3.import new merged database
df_ords_prods = pd.read_pickle(os.path.join(path,'02_Data','02_Prepared_Data','orders_products_combined.pkl'))

In [4]:
#4.checking data
df_ords_prods.shape

(32434489, 10)

The shape is the same as the exported dataframe.

In [5]:
#checking data
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
#import products data set
df_prods = pd.read_csv(os.path.join(path,'02_Data','02_Prepared_Data','products_checked.csv'),index_col=False)

In [7]:
#check data
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#check data
df_prods.shape

(49672, 5)

In [10]:
#creating a new df version dropping the merge column from df_ords_prods to allow us to have the indicator for the new merge
df_ords_prods_new = df_ords_prods.drop(columns=['_merge'])
df_ords_prods_new.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [11]:
#5.merging the orders_products_combined df with the products df using the product_id column as key
df_merged_ords_prods = df_prods.merge(df_ords_prods_new, on = 'product_id', indicator = True)

In [12]:
#check data
df_merged_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [14]:
#6.Confirming the results of the merge using the merge flag
df_merged_ords_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
#7.Exporting the newly created dataframe in pkl format
df_merged_ords_prods.to_pickle(os.path.join(path, '02_Data','02_Prepared_Data', 'orders_products_merged.pkl'))