**4.6. Combining and Exporting Data**

Content:
- #01 Importing libraries
- #02 Importing databases
- #03 Merging dataframes
- #04 Exporting dataframe as pickle file

#01.Importing libraries

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

#02.Importing databases

In [3]:
#set path
path = r'C:\Users\EliteMini HX90\OneDrive\Documents\CareerFoundry\Instacart Project Analysis'

In [4]:
#import orders database
df_ords = pd.read_csv(os.path.join(path, '02_Data','02_Prepared_Data', 'orders_checked.csv'),index_col=False)

In [5]:
#import new database
df_ords_prior = pd.read_csv(os.path.join(path,'02_Data','01_Original_Data','orders_products_prior.csv'),index_col=False)

In [6]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [9]:
df_ords.shape

(3421083, 6)

#03.Merging dataframes (Examples)

In [10]:
#merging ords with ords_prior using order_id as a key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
#check the output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
#check merge indicator counts
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

Note: Since we used the default inner join, the resulting table will only contain observations found in both dataframes.

In [13]:
#outer merging ords with ords_prior using order_id as a key
df_merged_outer = df_ords.merge(df_ords_prior, on = 'order_id', how='outer', indicator = True)

In [14]:
#check merge indicator counts for an outer join
df_merged_outer['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [15]:
#deleting outer join merge df since we do not actually need it
del df_merged_outer

#04. Export the merged file in pickle format

In [16]:
#1.Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02_Data','02_Prepared_Data', 'orders_products_combined.pkl'))